*.swp
*.swo

password_solution
PokedexProject_Solution.zip
PokedexProjectSolution.zip
PokedexProjectSolution/

pages/build

examples/
pages/
presentation/
run.sh
.gitlab-ci.yml
PokedexProjectSolution.zip.nc
READMEProf.md
